.header {
    font-family:helvetica;
    font-size: 100px;
    font-weight:bold;
    color:khaki;
    background-image: url(./images/pattern.webp);
    text-align:center, 
}

.brush {
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;
    color:white;
    background-color: mediumspringgreen;
}

p {
    font-family:Helvetica;
    font-weight:bold;
    color:blue;
}

.subheaders {
    font-size:25px;
    font-weight:bold;
}

.frames {
    background-color: lightcoral;
    color:white;
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;

}

.paint {
    background-color: skyblue;
    color:white;
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;
}

.text {
    font-family:Helvetica;
    font-size:20px;
}